Repository mastercad/trainingsmanager-vuejs: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

optimize jest config and fix to get correct coverage also for frontend
  .github/workflows/quality_assurance.yaml
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  yarn.lock
Due: none

move dummyImage for tests, write tests for FileUploader
  src/Service/FileUploader.php
  templates/base.html.twig
  tests/fixtures/dummyImage.png
  tests/integration/Controller/DeviceImageUploadControllerTest.php
  tests/integration/Controller/ExerciseImageUploadControllerTest.php
  tests/unit/Service/FileUploaderTest.php
Due: backend

adjust test for FileUploader::delete to make sure existing file also deleted ;)
  tests/unit/Service/FileUploaderTest.php
Due: none

remove some codesmells
  src/Controller/DeviceImageController.php
  src/Security/JWTAuthenticator.php
  src/Service/FileUploader.php
  tests/integration/Controller/DeviceImageUploadControllerTest.php
  tests/integration/Controller/ExerciseImageUploadControllerTest.php
  tests/unit/Service/FileUploaderTest.php
Due: backend

fix codestyle
  src/Controller/DeviceImageController.php
Due: backend

cover ExerciseImageController and DeviceImageController with tests
  .gitignore
  .php-cs-fixer.dist.php
  composer.json
  composer.lock
  src/Controller/DeviceImageController.php
  src/Controller/ExerciseImageController.php
  src/DataFixtures/UserFixture.php
  src/Listener/ExerciseListener.php
  src/Tests/ApiHelper.php
  symfony.lock
  tests/integration/Controller/ContactControllerTest.php
  tests/integration/Controller/DeviceImageControllerTest.php
  tests/integration/Controller/ExerciseImageControllerTest.php
Due: backend

remove complexity from DeviceImageController and ExerciseImageController, increase code coverage for backend
  src/Controller/DeviceImageController.php
  src/Controller/DeviceImageDeleteController.php
  src/Controller/ExerciseImageController.php
  src/Controller/ExerciseImageDeleteController.php
  src/Entity/Devices.php
  src/Service/FileUploader.php
  tests/integration/Controller/DeviceImageDeleteControllerTest.php
Due: backend

adjust ExerciseImageDeleteController regarding DeviceImageDeleteController, write tests, adjust Exercise and Device Entity for Delete Operations to behave the same way
  src/Controller/ExerciseImageDeleteController.php
  src/Entity/Devices.php
  src/Entity/Exercises.php
  tests/integration/Controller/ExerciseImageDeleteControllerTest.php
Due: backend

extends delete controller tests, write upload image controller test
  src/Entity/Devices.php
  src/Entity/Exercises.php
  tests/integration/Controller/ExerciseImageDeleteControllerTest.php
  tests/integration/Controller/UploadImageDeleteControllerTest.php
Due: none

cover securitycontroller with tests
  assets/js/controllers/security.js
  src/Entity/Users.php
  tests/integration/Controller/SecurityControllerTest.php
Due: frontend

cover also login in SecurityController
  tests/integration/Controller/SecurityControllerTest.php
Due: none

refactor exercise listener, split some logic in separate services
  config/services.yaml
  src/Listener/ExerciseListener.php
  src/Serializer/ExerciseNormalizer.php
  src/Service/FileUploader.php
  src/Service/SeoLinkHandler.php
  src/Service/UserProvider.php
  tests/unit/Service/FileUploaderTest.php
Due: backend

rename and refactor exerciselistener
  config/services.yaml
  src/Listener/SaveListener.php
  src/Service/SeoLinkHandler.php
  src/Service/UserProvider.php
  tests/integration/Entity/DevicesTest.php
  tests/unit/Listener/SaveListenerTest.php
Due: backend

extend FileUploader tests
  tests/unit/Service/FileUploaderTest.php
Due: none

fix problems in seoLinkHandler, write tests for SeoLinkHandler and UserProvider
  src/OpenApi/JwtDecorator.php
  src/Service/SeoLinkHandler.php
  src/Service/UserProvider.php
  tests/unit/Service/SeoLinkHandlerTest.php
  tests/unit/Service/UserProviderTest.php
Due: backend

ignore JWTDecorator in OpenAPI Folder
  codecov.yml
  src/Service/UserProvider.php
Due: backend

write test for some frontend show components
  assets/js/components/DeviceGroup.vue
  assets/js/components/DeviceOption.vue
  assets/js/components/ErrorMessage.vue
  assets/js/components/Exercise.vue
  assets/js/components/ExerciseOption.vue
  assets/js/components/ExerciseType.vue
  assets/js/components/Muscle.vue
  assets/js/components/MuscleGroup.vue
  assets/js/tests/components/DeviceEdit.test.js
  assets/js/tests/components/DeviceGroup.test.js
  assets/js/tests/components/DeviceOption.test.js
  assets/js/tests/components/Exercise.test.js
  assets/js/tests/components/ExerciseOption.test.js
  assets/js/tests/components/ExerciseType.test.js
  assets/js/tests/components/Muscle.test.js
  assets/js/tests/components/MuscleGroup.test.js
  src/Entity/Exercises.php
Due: frontend

write tests for OptionsForEdit, fix some OptionsForEdit handling
  assets/js/components/ExerciseOptionEdit.vue
  assets/js/components/OptionsForEdit.vue
  assets/js/components/TrainingPlan.vue
  assets/js/tests/components/OptionsForEdit.test.js
Due: frontend

Path conditions:
  backend: any of: src, but not: src/Entity, src/DataFixtures, src/Form
  frontend: any of: assets/js, but not: src/Entity, src/DataFixtures, src/Form
